:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {
  width: 960px;
  height: 600px;
  display: grid;
  grid-gap: 0.05em;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  padding: 10px 50px;
  margin: 0 auto;
}

.grid-item {
  min-width: 6px;
  min-height: 5px;
  border: 1px solid #ddd;
}

.black {
  background-color: black;
}

.customizer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.paragraph {
  text-align: center;
  flex: 1 0 100%;
}
